*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 5%;
}

.promptDiv {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  max-width: 20rem;
  border-left: 15px solid black;
  padding: min(1rem, 6%);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: x-large; */
}

.calculator-container {
  box-shadow: 0 0 8px rgb(161, 160, 160);
  background-color: slategray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2px auto;
  max-width: 20rem;
  min-height: 22rem;
  align-items: center;
  padding: 5px;
  /* gap: 10px; */
}

.calculator-display {
  box-shadow: 0 0 8px rgb(185, 184, 184);
  box-shadow: none;
  flex: 1;
  width: 100%;
  border-radius: 2px;
  background-color: rgba(143, 188, 143, 0.5);
  align-content: center;

  display: flex;
  flex-direction: row;
  justify-content: end;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.displayOn {
  background-color: darkseagreen;
}

#display {
  padding: 5%;
  min-height: 3.5rem;
}

#operation {
  min-height: 1.5rem;
  font-size: small;
  padding: 4px 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.calc-btns {
  box-shadow: 0 0 8px rgb(145, 143, 143);
  background-color: white;
  flex: 4;
  width: 100%;
  max-width: 20rem;
  margin-top: 7px;

  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3%;
  gap: 6.5px;
}

.calcBtnCells {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 5px darkgray;
  font-size: x-large;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}
.calcBtnCells:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.calcBtnCells:active {
  filter: brightness(50%);
}

.numericBtns,
.operator,
.symbols {
  aspect-ratio: 1/1;
}

.operator {
  background-color: orange;
}

.symbols {
  background-color: rgb(128, 128, 128);
  color: white;
  font-weight: bolder;
  font-size: x-large;
}

.clearBtn {
  grid-column-start: span 3;
  min-height: 4rem;
  max-width: 15rem;
  background-color: tomato;
  font-weight: bold;
  color: whitesmoke;
}

.powerBtn {
  background-color: rgb(255, 38, 0);
  color: white;
  font-weight: bold;
}
