*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 5%;
}

.promptDiv {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  max-width: 500px;
  border-left: 15px solid black;
  padding: min(1rem, 6%);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.calculator-container {
  box-shadow: 0 0 8px rgb(161, 160, 160);
  background-color: slategray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2px auto;
  max-width: 500px;
  min-height: 540px;
  align-items: center;
  padding: 8px;
}

.calculator-display {
  box-shadow: 0 0 8px rgb(136, 135, 135);
  flex: 1;
  width: 100%;
  min-height: 100px;
  border-radius: 8px;
  background-color: darkseagreen;
  align-content: center;

  padding: min(2rem, 10%);

  display: flex;
  flex-direction: row;
  justify-content: end;

  font-size: x-large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calc-btns {
  box-shadow: 0 0 8px rgb(145, 143, 143);
  background-color: white;
  flex: 3;
  width: 100%;
  max-width: 495px;

  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: min(1rem, 8%);
  gap: 10px;
}

.calcBtnCells {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 7px darkgray;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}
.calcBtnCells:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.calcBtnCells:active {
  filter: brightness(50%);
}

.numericBtns,
.operator,
.symbols {
  aspect-ratio: 1/1;
}

.operator {
  background-color: orange;
}

.symbols {
  background-color: rgb(128, 128, 128);
  color: white;
  font-weight: bolder;
  font-size: xx-large;
}

.clearBtn {
  grid-column-start: span 4;
  min-height: 100px;
  background-color: tomato;
}
